<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="email" value=<%= user.email %>>
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <button>
        <a href="/auth/google">Google</a>
    </button>
</body>
</html>